.left-content
  .left-content__top
    test-test
    %h3.header__name
    = current_user.name
    .left-content__top__icon
      = fa_icon 'edit'
      = fa_icon 'cog'
  .left-content__bottom
    .left-content__bottom__title
      test-G1
    .left-content__bottom__text
      こんにちは
    .left-content__bottom__title
      test-G2
    .left-content__bottom__text
      お疲れ様です。
    .left-content__bottom__title
      test-G3
    .left-content__bottom__text
      よろしくお願いします。