.header
  グループを作成しました

.left-content
  .left-content__top
    test-test
    .left-content__top__icon
      = fa_icon 'edit'
      = fa_icon 'cog'
  .left-content__bottom
    .left-content__bottom__title
      test-G1
    .left-content__bottom__text
      こんにちは
    .left-content__bottom__title
      test-G2
    .left-content__bottom__text
      お疲れ様です。
    .left-content__bottom__title
      test-G3
    .left-content__bottom__text
      よろしくお願いします。

.main-content
  .main-content__top
    .main-content__top__edit-btn
      Edit
    .main-content__top__title
      text-group
    .main-content__top__text
      Member:AAAAA
  .main-content__center
    .main-content__center__username
      test-user
    .main-content__center__date
      2019/9/14(Sat)00:00:00
    .main-content__center__text
      こんにちは！
  .main-content__bottom
    はば
    .main-content__bottom__form
    メッセージ入力
    .main-content__bottom__sendbtn
    青いボタン
    .main-content__bottom__imageicon
      = fa_icon 'image'