.header
  グループを作成しました

.left-content
  .left-content__top
    test-test
    .left-content__top__icon
      = fa_icon 'edit'
      = fa_icon 'cog'
  .left-content__bottom
    .left-content__bottom__title
      test-G1
    .left-content__bottom__text
      こんにちは
    .left-content__bottom__title
      test-G2
    .left-content__bottom__text
      お疲れ様です。
    .left-content__bottom__title
      test-G3
    .left-content__bottom__text
      よろしくお願いします。

.message
  .message__top
    .message__top__edit-btn
      Edit
    .message__top__title
      text-group
    .message__top__text
      Member:AAAAA
  .message__center
    .message__center__upper
      .message__center__upper__username
        test-user
      .message__center__date
        2019/9/14(Sat)00:00:00
    .message__center__lower
      .message__center__text
        こんにちは！

.form
  %form
  %input.form__message
  .form__mask
  %label.form__mask__image
    = fa_icon 'picture-o', class: 'icon'
  %input.hidden{type: 'file'}
  %input.form__submit{type: 'submit', value: 'Send'}